@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --station-detail;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: #484848;
}

.section-detail-information {
  padding: 0 15px;
  h3 { font-size: 12px; }
}

ul { padding: 0; margin: 0; }
li { list-style: none; }
span { display: inline-block; }

.section-detail-information-status {
  display: flex; flex-flow: row nowrap; align-items: center;
  .status-icon { width: 15px; height: 15px; background: green; display: inline-block; border-radius: 50%; margin-right: 10px; }
  .date { font-size: 11px; }
}

.slot-bicycle {
  display: flex; flex-flow: row nowrap; margin-top: 30px;
  >li {
    flex: 1 1 auto; padding: 0 10px;
    >h3 { text-align: center; margin-top: 0; margin-bottom: 10px; }
    >ul { 
      font-size: 12px; text-align: left; max-width: 110px; margin: 0 auto; display: flex; flex-flow: column nowrap;
      >li { 
        display: flex; justify-content: space-between; text-align: left; 
        &:not(:last-child) { margin-bottom: 5px; }
        span {
          &:first-child{ width: 90px; display: inline-block; }
          &:last-child { color: #00adff; font-weight: bold; }
        }
      } 
    }
    &:first-child { border-right: 1px solid black; }
  }
}

.capacity { margin: 30px 0; font-size: 12px; text-align: center; color: #00adff; border: 1px solid #00adff; padding: 10px; border-left: none; border-right: none; }

.rent-method {
  h2 { font-size: 16px; text-align: center; margin-bottom: 15px; text-transform: uppercase; }
  .rent-method-list {
    display: flex; flex-flow: row nowrap; 
    li { 
      flex: 1 1 auto; text-align: center; padding: 15px 30px;
      &:not(:last-child) { border-right: 1px solid #bdbdbd; }
    }
  }
}